@import url(./reset.css);

/* ====================================
    Globals
===================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
    color: cadetblue;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.2;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px;
}

.col-2-3 {
    width: 66%;
}

.col-1-3 {
    width: 34%;
}

.flex{
    display: flex;
    flex-flow: row wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-space-between {
    justify-content: space-between;
}

.m-50 {
    margin: 10px auto;
}

.p-25-20 {
    padding: 25px 20px;
}

.p-0-50-0-0 {
    padding: 0 50px 0 0;
}

/* ====================================
    Typography
===================================== */
h1 {
    font-size: 42px;
}

h2 {
    font-size:  28px;
    color: black;
}

p {
    font-size: 16px;
    color: green;
}

/* ====================================
    Links
===================================== */

a {
    text-decoration: none;
    font-size: 1.1em;
    color: coral;
}

a:hover {
    color: darkcyan;
}


/* ====================================
    Header
===================================== */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    color: cornflowerblue;
    border: 1px dashed #fcbc22;
}

header .nav-items {
    height: 42px;
}

.nav-items {
    align-items: center;
}

.nav-items li {
    margin-left: 20px;
    text-transform: uppercase;
}

.nav-items li:hover {
    border-bottom: 2px solid yellowgreen;
}

/* ====================================
    Main
===================================== */

main {
    margin-top: 84px;
}

.article-section {
}

.article {
    text-align: justify;
}

.article * {
    margin-bottom: 10px;
}

.article,
.article-feature-img {
    height: 250px;
}

.article-feature-img img {
    width: 100%;
    height: 100%;
}

.gallery {
    height: 460px;
    align-content: space-between;
}

/* ====================================
    Footer
===================================== */

footer,
header {
    background-color: #fff;
}